/*
main__community - 타이틀
comm__link - 카테고리 링크
comm__table - 게시판 상단
table__board - 게시판 보드
table__bottom - 게시판 하단
comm__write - 글쓰기
comm__view - 글보기
comm__modify - 글수정
*/

#wrap {
    background-color: var(--backgroundColor);
    overflow: hidden
}

/* main__community - 타이틀 */
.main__comm .title01 {
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.25rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    margin-bottom: 2.5rem;
}

.main__comm .title02 {
    text-align: center;
    margin-top: 6.25rem;
    font-size: 6.25rem;
    color: var(--mainColor);
    font-family: var(--fontO);
    font-weight: bold;
    line-height: 1;
}

/* comm__link - 카테고리 링크 */

.comm__link ul {
    display: flex;
    margin-top: 3.125rem;
    gap: 2.25rem;
    align-items: center;
    justify-content: center;
}

.comm__link ul .links {
    display: flex;
}

.comm__link .links li {
    background-color: var(--pointColor);
    width: 18rem;
    height: 18rem;
    /* margin-left: 1.25rem; */
    border-radius: 1.875rem;
}

.comm__link .links li.active {
    background-color: #ffcb8f;
}

.comm__link .links li span {
    font-family: 'GmarketSans';
    color: var(--mainColor);
    line-height: 5;
    font-size: 1.25rem;
    margin-left: 1.875rem;
    font-weight: bold;
}

.comm__link .links li .comm1 {
    vertical-align: top;
    width: 40%;
    margin-top: 3%;
    margin-left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.comm__link .links li .comm2 {
    margin-top: 3%;
    vertical-align: top;
    width: 43%;
    margin-left: 46%;
    background-repeat: no-repeat;
    background-size: contain;
}

.comm__link .links li .comm3 {
    vertical-align: top;
    width: 40%;
    margin-top: 3%;
    margin-left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.comm__link .links li .comm4 {
    margin-top: 6%;
    vertical-align: top;
    width: 43%;
    margin-left: 46%;
    background-repeat: no-repeat;
    background-size: contain;
}

/* comm__table - 게시판 상단 */
.comm__table {
    margin-top: 6.25rem;
}

.table__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.625rem;
}

.table__top .left {
    font-size: 1.125rem;
    font-family: var(--fontN);
}

.table__top .left em {
    color: var(--mainColor);
    font-size: 1.125rem;
    font-family: var(--fontN);
    font-weight: bold;
}

.comm__fieldset {
    display: flex;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
}

.comm__fieldset .blind {}

.comm__fieldset>input {
    width: 300px;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    font-family: var(--fontN);
    color: var(--mainColor);
    /* border: 2px solid var(--pointColor); */
}

/* .comm__fieldset>input::placeholder {
    color: var(--mainColor);
} */

.table__top .right select {
    padding: 0.7rem 1.5rem;
    border-radius: 0.3125rem;
    color: var(--black700);
    font-size: 1rem;
    font-family: var(--fontN);
    border: 0.125rem solid #fff;
}

.table__top .right .btns1 {
    padding: 0.7rem 2rem;
    border-radius: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
    font-family: var(--fontN);
    border: 0.125rem solid var(--mainColor);
}

.table__top .right .btns2 {
    padding: 0.7rem 1.6rem;
    border-radius: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
    font-family: var(--fontN);
    border: 2px solid var(--mainColor);
}

/* table__board - 게시판 보드 */

.table__board {
    border-top: 2px solid var(--mainColor);
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid var(--mainColor);
}


.table__board th {
    background-color: var(--pointColor);
}

.table__board th {
    border-bottom: 1px solid var(--mainColor);
    padding: 0.9375rem 0.3125rem;
    text-align: center;
    color: var(--mainColor);
}

.table__board td {
    border-bottom: 1px solid var(--pointColor);
    padding: 0.9375rem 0.3125rem;
    text-align: center;
}

/* table__bottom - 게시판 하단 */
.table__bottom {
    margin-top: 5rem;
}

.table__bottom ul {
    display: flex;
    justify-content: center;
}

.table__bottom li a {
    display: inline-block;
    border: 1px solid var(--mainColor);
    width: 2.875rem;
    height: 2.875rem;
    line-height: 2.875rem;
    text-align: center;
    margin-left: -0.0625rem;
    color: var(--mainColor);
    padding: 0 0.3125rem;
}

.table__bottom li.first a,
.table__bottom li.last a {
    width: auto;
    padding: 0 0.9375rem;
}

.table__bottom li.active a,
.table__bottom li a:hover {
    background-color: var(--mainColor);
    color: var(--white);
    border-color: var(--mainColor);
}

/* comm__write - 글쓰기 */
.comm__write label {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 0.3125rem;
    display: block;
    margin-top: 3.75rem;
    color: var(--mainColor);
    font-family: var(--fontG);
}

.comm__write input {
    width: 100%;
    line-height: 3;
    border: 1px solid var(--mainColor);
    font-size: 0.9375rem;
    border-radius: 0.5rem;
}

.comm__write textarea {
    width: 100%;
    resize: none;
    line-height: 1.7;
    border: 1px solid var(--mainColor);
    font-size: 0.9375rem;
    border-radius: 0.5rem;
}

.comm__write .btn_01 {
    text-align: right;
}

.comm__write .btn_01 button {
    padding: 0.7rem 1.6rem;
    border-radius: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
    font-family: var(--fontN);
    border: 2px solid var(--mainColor);
}

/* comm__view - 글보기 */

.comm__view table {
    border-top: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    margin-bottom: 10px;
}

.comm__view table th {
    background-color: var(--pointColor);
}

.comm__view table th,
.comm__view table td {
    padding: 15px;
    border-bottom: 1px solid var(--mainColor);
}

.comm__view table tr:last-child td {
    height: 500px;
    white-space: pre-line;
    vertical-align: top;
}

.comm__view .btn_03 {
    text-align: right;
    margin-top: 1.875rem;
}

.comm__view .btn_03 .btn__01,
.comm__view .btn_03 .btn__02,
.comm__view .btn_03 .btn__03 {
    padding: 0.7rem 1.6rem;
    border-radius: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
    font-family: var(--fontN);
    border: 2px solid var(--mainColor);
}

/* comm__modify - 글수정 */
.comm__modify label {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 0.3125rem;
    display: block;
    margin-top: 3.75rem;
    color: var(--mainColor);
    font-family: var(--fontG);
}

.comm__modify input {
    width: 100%;
    line-height: 3;
    border: 1px solid var(--mainColor);
    font-size: 0.9375rem;
    border-radius: 0.5rem;
}

.comm__modify textarea {
    width: 100%;
    resize: none;
    line-height: 1.7;
    border: 1px solid var(--mainColor);
    font-size: 0.9375rem;
    border-radius: 0.5rem;
}

.comm__modify .btn_04 {
    text-align: right;
    margin-top: 1.875rem;
}

.comm__modify .btn_04 .btn__04 {
    padding: 0.7rem 1.6rem;
    border-radius: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
    font-family: var(--fontN);
    border: 2px solid var(--mainColor);
}

@media (max-width: 1000px) {
    .main__community {
        width: 100%;
    }

    .comm__link .links li {
        width: 10rem;
        height: 10rem;
    }

    .comm__link .links li span {
        font-size: 0.875rem;
        margin-left: 1rem;
    }

    .comm__link .links li .comm1,
    .comm__link .links li .comm3 {
        background-size: contain;
        margin-top: -0.9375rem;
    }

    .comm__link .links li .comm2 {
        background-size: contain;
        /* height: 50%; */
        margin-top: -0.4375rem;
    }

    .comm__link .links li .comm4 {
        background-size: contain;
        /* height: 50%; */
        margin-top: -0.0625rem;
    }


    .table__top .left,
    .table__top .left em {
        font-size: 1rem;
    }

    .table__top .right .btns1,
    .table__top .right .btns2 {
        flex-direction: column;
        padding: 0.7rem 1.4rem;
        cursor: pointer;
        font-size: 0.875rem;
        border: 2px solid var(--mainColor);
    }

    .table__top .right select,
    .table__top .right input {
        padding: 0.5rem 1.3rem;
    }

    .table__bottom {
        font-size: 0.875rem;
        padding: 1rem 1rem;
    }
}

@media (max-width: 800px) {
    .comm__link ul {
        gap: 1rem;
    }

    .table__top .right .btns1,
    .table__top .right .btns2 {
        flex-direction: column;
        padding: 1rem 1.4rem;
        cursor: pointer;
        font-size: 0.875rem;
    }

    .table__top .right select,
    .table__top .right input {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .main__community .title01 {
        font-size: 0.875rem;
    }

    .main__community .title02 {
        font-size: 4.375rem;
    }

    .comm__link ul {
        gap: 0.375rem;
    }

    .comm__link .links li {
        width: 7rem;
        height: 7rem;
    }

    .comm__link .links li span {
        font-size: 0.875rem;
        margin-left: 1rem;
    }

    .comm__link .links li .comm1,
    .comm__link .links li .comm2,
    .comm__link .links li .comm3,
    .comm__link .links li .comm4 {
        display: none;
    }

    .table__top .right .btns1,
    .table__top .right .btns2 {
        flex-direction: column;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 0.875rem;
    }

    .table__top .right select,
    .table__top .right input {
        padding: 0.5rem 1.3rem;
        font-size: 0.875rem;
    }

    .table__top .left,
    .table__top .left em {
        font-size: 0.875rem;
    }

    .table__bottom li a {
        width: 1.625rem;
        font-size: 0.625rem;
    }
}