.edit__container {
    width: 31.25rem;
    height: 2000px;
    margin: 0 auto;
}

.edit__container .edit {
    margin-top: 180px;
}

/* title02 */
.edit__container .edit .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
    margin-bottom: 50px;
}

/* profile */
.profile {}

.profile {}

.profile .profile1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.profile .profile1 img {
    width: 30%;
}

.profile .profile2 {}

.profile .profile2 ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

.profile .profile2 li {}

.profile .profile2 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--pointColor);
    border-radius: 8px;
    font-size: 14px;
}

.profile .profile2 a:hover {
    color: var(--mainColor);
}

/* sign */
#sign {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.name,
.password,
.new-password,
.confirm-password,
.nickname,
.running-style,
.submit {
    margin-bottom: 20px;
}

.signname {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"].input-text,
input[type="password"].input-text,
textarea.input-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

textarea.input-textarea {
    height: 60px;
}

.nickname_wrap {
    display: flex;
    align-items: center;
}

.nickname_wrap input[type="text"].input-text {
    flex: 1;
    margin-right: 10px;
}

button[type="button"] {
    background-color: #ff6f3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0 25px;
}

button[type="submit"].dark {
    width: 100%;
}

.gender label,
.running-style label {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--pointColor);
    margin-right: 10px;
}

.gender input[type="radio"].input-radio,
.running-style input[type="checkbox"].input-checkbox {
    display: none;
}

.gender input[type="radio"].input-radio:checked+label,
.running-style input[type="checkbox"].input-checkbox:checked+label {
    background-color: var(--pointColor);
    color: var(--mainColor);
    border: none;
}

.star {
    color: var(--mainColor);
}