/* 
feed__title -타이틀
feed__info -피드메뉴
feed__cont -피드 콘텐츠
feed__popular -인기피드
feed__new -최신피드
feed__my -마이피드
 */



/* feed__title -타이틀 */
.feed__title .title01 {
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.25rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    margin-bottom: 4.5rem;
}

.feed__title .title02 {
    text-align: center;
    margin-top: 11.5rem;
    font-size: 6.25rem;
    color: var(--mainColor);
    font-family: var(--fontO);
    font-weight: bold;
    line-height: 1;
}

/* feed__info -피드메뉴 */
.feed__info {
    width: 100%;

}

.feed__info .feed__menu {
    display: flex;
    justify-content: space-between;
}

.feed__info .feed__menu ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.feed__info .feed__menu li {}

.feed__info .feed__menu li a {
    font-family: 'GmarketSans';
    color: var(--mainColor);
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 25rem;
    height: 4.625rem;
    background-color: var(--pointColor);
    border-radius: 1rem;
    margin-bottom: 4.3rem;
    transition: all 0.3s;
}

.feed__info .feed__menu li a:hover {
    font-family: 'GmarketSans';
    color: var(--pointColor);
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 25rem;
    height: 4.625rem;
    background-color: var(--mainColor);
    border-radius: 1rem;
}

/* feed__cont */
.feed__cont {
    overflow: hidden;
}

/* feed__popular */
.feed__popular {}

.feed__popular>ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.feed__popular>ul>li {}

.feed__popular>ul>li>a {}

.feed__img {}

.feed__img img {
    width: 14.5rem;
    height: 18.75rem;

}

.feed__img img:hover {
    opacity: 0.8;
}

.feed__text {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.feed__text .feed__name {}

.feed__text img {
    width: 15px;
    height: 16px;
}

.feed__userId {
    font-size: 0.875rem;
    margin-top: 0.1rem;
    color: #676767;
}

/* feed__new */
.feed__new {}

.feed__new>ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.feed__new>ul>li {}

.feed__new>ul>li>a {}

/* feed__my */
.feed__my {}

.feed__my>ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.feed__my>ul>li {}

.feed__my>ul>li>a {}