/* 
    |-- login__container : 로그인 컨테이너
    |-- main__login : 로그인
    |-- main__IDfind : 아이디 찾기
    |-- main__PWfind : 비밀번호 찾기
    |-- main__sign : 회원가입
    |-- main__signcon : 가입축하
    |-- login__wrap : 로그인 내용 입력
*/

/* login__container */
#main .login__container {
    width: 31.25rem;
    height: 50rem;
    margin: 0 auto;
}

.main__login .title01 {
    font-size: 1.125rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
}

.main__login img {
    margin-top: 1.25rem;
}

/* login .mail */
#login .mail input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 2.5rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.625rem;
}

#login .mail input::placeholder {
    color: var(--mainColor);
}

/* login .passwd */
#login .passwd input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.625rem;
}

#login .passwd input::placeholder {
    color: var(--mainColor);
}

/* login .submit */
#login .submit button {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 0.625rem;
}

/* login .checks */
#login .checks {
    width: 80%;
    margin: 0 auto;
}

#login .checks ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.625rem;
    color: var(--black300);
}

#login .checks li {
    text-align: center;
}

#login .checks li a {
    text-decoration: none;
}

/* main__IDfind */
.main__IDfind .title01 {
    font-size: 1.25rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
}

.main__IDfind .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
}

.main__IDfind img {
    margin-top: 2.5rem;
    width: 60%;
    height: auto;
    margin-left: 5.5rem;
    margin-bottom: 1.25rem;

}

#IDfind .mail input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.625rem;
}

#IDfind .mail input::placeholder {
    color: var(--mainColor);
}

#IDfind .nickname input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.625rem;
}

#IDfind .nickname input::placeholder {
    color: var(--mainColor);
}

#IDfind .submit button {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 0.625rem;
}

#IDfind .checks {
    width: 80%;
    margin: 0 auto;
}

#IDfind .checks ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--black300);
    font-family: var(--fontN);
    font-size: 0.75rem;
}

#IDfind .checks li {
    text-align: center;
}

#IDfind .checks li a {
    text-decoration: none;
}

/* main__PWfind */
.main__PWfind .title01 {
    font-size: 1.25rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
}

.main__PWfind .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
}

.main__PWfind img {
    margin-top: 2.5rem;
    width: 60%;
    height: auto;
    margin-left: 5.5rem;
    margin-bottom: 1.25rem;

}

#PWfind .mail {
    width: 100%;
    display: flex;
}

#PWfind .mail input {
    padding: 0.625rem 1.25rem;
    width: 70%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.625rem;
    margin-right: 0.625rem;
}

#PWfind .mail button {
    width: 30%;
    height: 3.75rem;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: var(--mainColor);
    border-radius: 0.625rem;
    margin-top: 0.625rem;
    color: var(--backgroundColor);

}

#PWfind .mail input::placeholder {
    color: var(--mainColor);
}

#PWfind .password input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.625rem;
}

#PWfind .password input::placeholder {
    color: var(--mainColor);
}

#PWfind .submit button {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    margin-top: 0.625rem;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 0.625rem;
}

#PWfind .checks {
    width: 80%;
    margin: 0 auto;
}

#PWfind .checks ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0.625rem;
    color: var(--black300);
    font-family: var(--fontN);
    font-size: 0.75rem;
}

#PWfind .checks li {
    text-align: center;
}

#PWfind .checks li a {
    text-decoration: none;
}

/* main__signcon */
.main__signcon .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
}

.main__signcon img {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    transition: transform 0.3s ease;
}

.main__signcon img:hover {
    background-image: url(../img/\ login_Congratulations1.svg);
    background-size: cover;
}


.signCon button {
    width: 100%;
    height: 3.75rem;
    margin-top: 2.5rem;
    background-color: var(--mainColor);
    border-radius: 0.625rem;
}

.signCon button a {
    width: 100%;
    height: 3.75rem;
    margin-top: 1.25rem;
    background-color: var(--mainColor);
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem;
    color: var(--backgroundColor);
}

.main__sign .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
}

.main__sign .title01 {
    font-size: 1.25rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
}

/* mail */
.mail .signname {
    margin-top: 2.5rem;
}

.mail .signname span {
    color: var(--mainColor);
}

.mail .mail_wrap {
    display: flex;
    width: 100%;

}

.mail .mail_wrap input {
    padding: 0.625rem 1.25rem;
    width: 70%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.5rem;
    margin-right: 0.625rem;
}

.mail .mail_wrap input::placeholder {
    color: var(--mainColor);
}

.mail .mail_wrap button {
    padding: 0.625rem 1.25rem;
    width: 30%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 0.5rem;
}


/* nickname */
.nickname .signname {
    margin-top: 1.5625rem;
}

.nickname .signname span {
    color: var(--mainColor);
}

.nickname .nickname_wrap {
    display: flex;
    width: 100%;
    margin-bottom: 1.5625rem;

}

.nickname .nickname_wrap input {
    padding: 0.625rem 1.25rem;
    width: 70%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.5rem;
    margin-right: 0.625rem;
}

.nickname .nickname_wrap input::placeholder {
    color: var(--mainColor);
}

.nickname .nickname_wrap button {
    padding: 0.625rem 1.25rem;
    width: 30%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 0.5rem;
}

/* name */
.name .signname span {
    color: var(--mainColor);
}

.name input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.5rem;
    margin-bottom: 1.5625rem;
}

.name input::placeholder {
    color: var(--mainColor);
}

/* password */
.password .signname span {
    color: var(--mainColor);
}

.password input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.5rem;
    margin-bottom: 1.5625rem;
}

.password input::placeholder {
    color: var(--mainColor);
}

/* name */
.name .signname span {
    color: var(--mainColor);
}

.name input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.125rem;
    margin-top: 0.3125rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 0.5rem;
    margin-bottom: 1.5625rem;
}

.name input::placeholder {
    color: var(--mainColor);
}

#sign .submit button {
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.75rem;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 0.625rem;
    margin-top: 1.25rem;
}