/* 

*/


.mypage__title {
    margin-top: 7rem;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.mypage__title .mypage__title01 {
    text-align: center;
    margin-top: 6.25rem;
    font-size: 6.25rem;
    color: var(--mainColor);
    font-family: var(--fontO);
    font-weight: bold;
    line-height: 1;
}

.mypage__title .mypage__text02 {
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.25rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    margin-bottom: 2.5rem;
}

.mypage__information .mypage__text03 {
    margin-top: 0.625rem;
    font-size: 1.25rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    margin-bottom: 2rem;
    font-weight: 600;
}

.mypage__information__wrap {
    display: flex;
    gap: 1.75rem;
}

/* mypage__information__aside */
.mypage__information__aside {
    width: 30%;
    height: 480px;
    background-color: var(--pointColor);
    border-radius: 1.25rem;
}

.mypage__information__aside .mypage__nickname {
    padding: 60px 40px;
}

.mypage__information__aside .mypage__nickname img {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.mypage__information__aside .mypage__nickname .my__name {
    display: flex;
    justify-content: space-between;
}

.mypage__information__aside .mypage__nickname .my__name .my__nik {
    font-size: 1.3rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    font-weight: 800;
}

.mypage__information__aside .mypage__nickname .my__name .my__info {
    justify-content: right;
}

.mypage__information__aside .mypage__nickname .my__name .my__info a {
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 12px;
    background-color: #fff;
    color: var(--mainColor);
}

.mypage__information__aside .mypage__nickname .my__name .my__info a:hover {
    opacity: 0.8;
}

.mypage__information__aside .mypage__nickname .my__email {
    color: var(--black500);
    font-size: 14px;
    display: block;
    margin-bottom: 40px;
}

.mypage__information__aside .mypage__nickname a {
    display: inline-block;
    text-align: center;
    padding: 20px 114px;
    background-color: var(--mainColor);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--backgroundColor);
}

.mypage__information__aside .mypage__nickname a:hover {
    opacity: 0.9;
}

/* mypage__information__contents */
.mypage__information__contents {
    width: 70%;
    height: 480px;
    border-radius: 1.25rem;
    gap: 1.75rem;
    display: flex;
    /* flex 레이아웃을 사용 */
    flex-direction: column;
    /* 자식 요소들을 세로로 정렬 */
    gap: 1.75rem;
    /* 자식 요소 간의 간격을 설정 */
    margin-bottom: 3rem;
}

/* mypage__contents1 */
.mypage__contents1 {
    width: 100%;
    height: calc(50% - 0.875rem);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;

}

.mypage__contents1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    /* li 요소들을 가로로 정렬 */
    flex-direction: row;
    /* li 요소들을 가로로 정렬 */
    gap: 1.25rem;
    /* li 요소들 사이의 간격 */
}

.mypage__contents1 ul li {
    width: 33.333%;
    height: 100%;
    background-color: var(--pointColor);
    border-radius: 1.25rem;
    padding: 1.7rem 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 3ms;
}

.mypage__contents1 ul li:hover {
    opacity: 0.8;
}

.mypage__contents1 ul li a {
    margin-top: 0.625rem;
    font-size: 1.2rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    margin-bottom: 2rem;
}


.mypage__contents1 ul li img {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 2.3rem;
    right: 2rem;
}

/* mypage__contents2 */
.mypage__contents2 {
    background-color: var(--mainColor);
    color: white;
    border-radius: 20px;
    padding: 60px 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: var(--fontN);
}

.mypage__contents2 div {
    flex: 1;
}

.mypage__contents2 div:first-child {
    border-right: 1px solid #FF8A50;
}

.mypage__contents2 div:last-child {
    border-left: 1px solid #FF8A50;
}

.mypage__contents2 p {
    position: relative;
    /* 부모 요소를 기준으로 위치 설정 */
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    /* 텍스트 아래에 공간 추가 */
}

.mypage__contents2 p::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    /* 부모 요소의 하단에 위치 */
    border-bottom: 1px solid #FF8A50;
    /* border-bottom 설정 */
}

.mypage__contents2 span {
    position: relative;
    /* 부모 요소를 기준으로 위치 설정 */
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    display: block;
    /* 텍스트 아래에 공간 추가 */
}

.mypage__contents2 span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    /* 부모 요소의 하단에 위치 */
    border-top: 1px solid #FF8A50;
    /* border-bottom 설정 */
}

/* mypage__check */
.mypage__text03 {
    margin-top: 2rem;
    font-size: 1.25rem;
    color: var(--mainColor);
    font-family: var(--fontG);
    font-weight: 600;
}

.mypage__check {
    width: 100%;
    height: 14rem;
    background-color: var(--pointColor);
    margin-top: 2rem;
    border-radius: 1.25rem;
}

.mypage__check .check__wrap {
    width: 100%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.mypage__check .check__wrap .mypage__sticker {
    width: 7.5rem;
    height: 7.5rem;
    background-color: #fff;
    border-radius: 50%;

}

.mypage__check .check__wrap .mypage__sticker:first-child {
    background-image: url(../img/mypage/my_info_check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* calendar */
.calendar__wrap {
    display: flex;
    flex-direction: row;
    background-color: #FFCCBC;
    border-radius: 20px;
    padding: 20px;
}

.calendar {
    margin-right: 20px;
}

.calendar .calendar__title {
    color: #FF5722;
}

.calendar .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__nav {
    cursor: pointer;
    font-size: 20px;
    color: #FF5722;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #FF8A50;
    color: #FF5722;
}

th {
    background-color: #FF5722;
    color: white;
}

.event-list {
    background-color: #FFE0B2;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.event-list ul {
    list-style: none;
    padding: 0;
}

.event-list li {
    margin: 5px 0;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}