/* 
|--save__container - 찜한 마라톤 컨테이너
|--save__title - 타이틀
|--save__contents - 컨텐츠 워랩
|--save__wrap - 포스터 워랩
|--save__con1 - 마라톤 정보
|--save__con2 - 상세정보
 */


/* save__container */
.save__container {
    width: 85%;
    height: 100rem;
    margin: 0 auto;
}

/* save__title */
.save__title {
    margin-top: 11.25rem;
}

.save__title .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 5rem;
    margin-bottom: 4.5rem;
}

/* save__contents */
.save__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25rem;
    /* 400px */
    gap: 1.25rem;
    /* 20px */
    margin-bottom: 4.0625rem;
    /* 65px */
}

/* save__wrap */
.save__wrap {
    width: 25%;
    height: 25.625rem;
    border-radius: 1.25rem;
}

/* save__con1 */
.save__con1 {
    width: 100%;
    height: 88%;
    background-color: var(--white);
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 1.625rem 1.6875rem;
}

.save__con1 .img__poster {
    background-image: url(/html/coding/assets/img/saveMarathon/poster1.png);
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.0625rem;
    margin-bottom: 0.75rem;
}

.save__con1 .Stittle {
    font-size: 0.9375rem;
    color: var(--mainColor);
    font-weight: 800;
    margin-top: 0.625rem;
    margin-bottom: 0.1875rem;
}

.save__con1 .save__conwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save__con1 .save__conwrap .save__textwrap {
    display: flex;
    flex-direction: column;
}

.save__con1 .save__conwrap .save__textwrap .Stext {
    font-size: 0.875rem;
    font-weight: 700;
}

.save__con1 .save__conwrap .save__textwrap .Sdate {
    font-size: 0.75rem;
}

.save__con1 .save__conwrap .img__save svg {
    margin-top: 0.625rem;
}

.save__con1 .save__conwrap .img__save {
    width: 1.5625rem;
    height: 1.5625rem;
    cursor: pointer;
}

/* 클릭 시 색상이 주황색으로 변경된 상태 */
.save__con1 .save__conwrap .img__save svg path.active {
    fill: #FF4409;
}

/* save__con2 */
.save__con2 {
    width: 100%;
    height: 12%;
    background-color: var(--pointColor);
    border-radius: 0 0 1.25rem 1.25rem;
    /* 20px 20px */
    display: flex;
    padding: 0.625rem 0.9375rem;
    /* 10px 15px */
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.save__con2 .save__detail {
    font-size: 0.75rem;
    /* 12px */
    color: var(--mainColor);
    font-weight: 600;
}

.save__con2>svg {
    width: 0.625rem;
    /* 10px */
    height: 0.625rem;
    /* 10px */
    padding: 0.5rem 0 0.5rem 0.5rem;
    /* 8px 0 8px 8px */
}

/* hover */
.save__con2:hover {
    background-color: var(--mainColor);
    color: var(--pointColor);
}

.save__con2:hover .save__detail {
    color: var(--pointColor);
}

.save__con2:hover svg path {
    fill: var(--pointColor);
}

/* modal */
.modal {}

.modal__text {
    width: 500px;
    height: 700px;
    background-color: antiquewhite;
}