/* 
    |--about__title : 어바웃 페이지 상단 타이틀&이미지
*/

.about__title {}

.about__title .aboutT__h1 {
    margin: 10rem auto 0;
    font-size: 7rem;
    color: var(--mainColor);
    text-align: center;
    font-family: var(--fontO);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.about__title .aboutT__img {
    width: 65%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.about__banner {
    margin-top: 10rem;
    background-color: var(--mainColor);
}

.about__banner .about__banner1-1 p {
    width: 30%;
    background-color: var(--pointColor);
    text-align: center;
    font-size: 40px;
    font-family: var(--fontM);
    color: var(--mainColor);
    font-weight: bold;
    border-radius: 10px;
}

.about__banner .about__banner1-2 {}