/* 
    |-- login__container : 로그인 컨테이너
    |-- main__login : 로그인
    |-- main__IDfind : 아이디 찾기
    |-- main__PWfind : 비밀번호 찾기
    |-- main__sign : 회원가입
    |-- main__signcon : 가입축하
    |-- login__wrap : 로그인 내용 입력
*/

/* login__container */
#main .login__container {
    width: 500px;
    height: 800px;
    margin: 0 auto;
}

.main__login .title01 {
    font-size: 1.125rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
    margin-top: 10rem;
}

.main__login img {
    margin-top: 20px;
}

/* login .mail */
#login .mail input {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 10px;
}

#login .mail input::placeholder {
    color: var(--mainColor);
}

/* login .passwd */
#login .passwd input {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 10px;
}

#login .passwd input::placeholder {
    color: var(--mainColor);
}

/* login .checks */
#login .checks {
    width: 80%;
    margin: 0 auto;
}

#login .checks ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--black300);
}

#login .checks li {
    text-align: center;
}

#login .checks li a {
    text-decoration: none;
}

/* main__IDfind */
.main__IDfind .title01 {
    font-size: 1.25rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
}

.main__IDfind .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 100px;
}

.main__IDfind img {
    margin-top: 40px;
    width: 60%;
    height: auto;
    margin-left: 88px;
    margin-bottom: 20px;

}

#IDfind .mail input {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 10px;
}

#IDfind .mail input::placeholder {
    color: var(--mainColor);
}

#IDfind .nickname input {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 10px;
}

#IDfind .nickname input::placeholder {
    color: var(--mainColor);
}

#IDfind .submit button {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 10px;
}

#IDfind .checks {
    width: 80%;
    margin: 0 auto;
}

#IDfind .checks ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--black300);
    font-family: var(--fontN);
    font-size: 12px;
}

#IDfind .checks li {
    text-align: center;
}

#IDfind .checks li a {
    text-decoration: none;
}

/* main__PWfind */
.main__PWfind .title01 {
    font-size: 1.25rem;
    font-family: var(--fontG);
    text-align: center;
    color: var(--mainColor);
}

.main__PWfind .title02 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: 600;
    text-align: center;
    color: var(--mainColor);
    margin-top: 100px;
}

.main__PWfind img {
    margin-top: 40px;
    width: 60%;
    height: auto;
    margin-left: 88px;
    margin-bottom: 20px;

}

#PWfind .mail {
    width: 100%;
    display: flex;
}

#PWfind .mail input {
    padding: 10px 20px;
    width: 70%;
    height: 60px;
    margin-top: 10px;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 10px;
    margin-right: 10px;
}

#PWfind .mail button {
    width: 30%;
    height: 60px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--mainColor);
    border-radius: 10px;
    margin-top: 10px;
    color: var(--backgroundColor);

}

#PWfind .mail input::placeholder {
    color: var(--mainColor);
}

#PWfind .password input {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 10px;
}

#PWfind .password input::placeholder {
    color: var(--mainColor);
}

#PWfind .submit button {
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    border-radius: 10px;
}

#PWfind .checks {
    width: 80%;
    margin: 0 auto;
}

#PWfind .checks ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--black300);
    font-family: var(--fontN);
    font-size: 12px;
}

#PWfind .checks li {
    text-align: center;
}

#PWfind .checks li a {
    text-decoration: none;
}

/* main__signcon */

.main__signup__title {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    padding-bottom: 3.75rem;
}

.main__signup__title h1 {
    font-size: 2.875rem;
    font-family: var(--fontG);
    font-weight: bold;
}

#main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup__img {
    width: 50%;
}

.member__insert {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.member__insert div label {
    display: block;
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--black);
    font-family: var(--fontG);
    font-weight: 400;
}

.member__insert div .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member__insert div input {
    width: 100%;
    margin-bottom: 10px;
}

.member__insert div .check input {
    width: 69%;
}

.member__insert div .check .btn {
    width: 30%;
    background-color: var(--mainColor);
    color: var(--white);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.member__insert div .msg {
    color: var(--mainColor);
    margin-bottom: 2rem;
}

.member__insert .center {
    text-align: center;
}

.insert__btn {
    width: 100%;
    color: var(--white);
    background-color: var(--mainColor);
    padding: 1rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}

.login__wrap .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.login__wrap .btn a {
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1.25rem;
    background-color: var(--mainColor);
    color: var(--white);
    display: inline-block;
}

@media (max-width: 600px) {

    .member__insert div .check {
        flex-direction: column;
    }

    .member__insert div .check input {
        width: 100%;
    }

    .member__insert div .check .btn {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}