:root {
    --fontN: "NanumSquareNeo";
    --fontG: "GmarketSans";
    --fontM: "Montserrat";
    --fontP: "Pacifico";
    --fontO: "Oswald";

    --mainColor: #ff4409;
    --pointColor: #f7e1cd;
    --backgroundColor: #FBF1E7;

    --white: #fff;
    --white100: #fff;
    --white200: #e1e1e1;
    --white300: #dcdcdc;
    --white400: #ddd;
    --white500: #fff;
    --white600: #b2b2b2;

    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;
    --black600: #666;
    --black700: #777;

    /* 기본 폰트 설정 */
    font-family: var(--fontN);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;

    /* svg 아이콘 */
    --arror: url(../svg/arrow.svg);
    --logout: url(../svg/log-out.svg);
    --heart: url(../svg/heart.svg);
    --heartRed: url(../svg/heart-red.svg);
    --eye: url(../svg/eye.svg);
    --arrowRight: url(../svg/arrow-right-circle.svg);
    --arrowLeft: url(../svg/arrow-left-circle.svg);
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}