/*
main__inner : 메인 
main__title : 메인 타이틀
main__img   : 메인 이미지
main__info  : 마라톤 카테고리
main__info_post : 마라톤 메인 포스터
main__ranking : 인기있는 마라톤
**/

.main__title {
    margin-top: 100px;
    text-align: center;
    color: var(--mainColor);

}

.main__title img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.main__title h2 {
    font-size: 20px;
    font-family: var(--fontM);
    line-height: 2;
    margin-bottom: 200px;
}

.main__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--white), var(--mainColor) 70%);
}

.main__img img {
    width: 1260px;
    height: 100%;
    margin-bottom: 200px;
    border-radius: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__info {
    text-align: center;
    margin-top: 200px;
}

.main__info span {
    font-size: 80px;
    font-weight: 800;
    font-family: var(--fontM);
    color: var(--mainColor);
}

.main__info ul {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.main__info ul li {
    margin: 0 20px;
    font-size: 20px;
}

.main__info ul li.active a {
    background-color: var(--mainColor);
    color: var(--white);
    font-weight: 800;
}

.main__info ul li a {
    width: 140px;
    padding: 10px 0;
    display: inline-block;
    border: 1px solid var(--mainColor);
    font-size: 18px;
    border-radius: 30px;
}

.main__info ul li a:hover {
    background-color: var(--mainColor);
    color: var(--white);
    font-weight: 800;
}

@media (max-width: 1000px) {
    .main__info ul li a {
        width: 100px;
        font-size: 16px;
    }

}


/* main__info_post */

.main__info_post {
    margin-bottom: 200px;
    text-align: center;
}

.main__info_post .main_post {
    display: flex;
    flex-wrap: wrap;
}

.main__info_post .main_post>div {
    position: relative;
    margin-bottom: 20px;
    /* 각 게시물 사이 간격 조정 */
    padding: 20px;
    border-radius: 10px;
    /* 모서리 둥글게 처리 */
    /* 배경색 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* 그림자 효과 */
}

/* 각 게시물을 감싸는 div에 대한 스타일 */
.post1,
.post2,
.post3,
.post4,
.post5,
.post6 {
    position: relative;
    /* 상대적 위치 설정 */
    margin-bottom: 20px;
    /* 게시물 간 간격 */

    /* 경계선 추가 */
    padding: 10px;
    /* 내부 여백 */
}

/* 하트 아이콘 위치 및 스타일 */
.heart-icon {
    position: absolute;
    top: -218px;
    /* 이미지 상단에서 10px 아래 */
    right: 40px;
    /* 이미지 우측에서 10px 내부 */
    width: 36px;
    /* 하트 아이콘 너비 */
    height: 30px;
    /* 하트 아이콘 높이 */
    cursor: pointer;
    /* 마우스 오버시 포인터 모양 변경 */
    z-index: 5;
    /* 다른 요소 위에 표시 */
}

/* 하트 아이콘 이미지 스타일 */
.heart-icon img {
    width: 100%;
    /* 부모 요소에 맞게 너비 조정 */
    height: auto;
    /* 높이 자동 조정 */
}

.main__info_post .main_post .post1,
.main__info_post .main_post .post2,
.main__info_post .main_post .post3,
.main__info_post .main_post .post4,
.main__info_post .main_post .post5,
.main__info_post .main_post .post6 {
    width: 406px;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.125rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1;
}

.main__info_post .main_post .post1 img,
.main__info_post .main_post .post2 img,
.main__info_post .main_post .post3 img,
.main__info_post .main_post .post4 img,
.main__info_post .main_post .post5 img,
.main__info_post .main_post .post6 img {
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 26px;
}

.main__info_post .main_post .post1 .map,
.main__info_post .main_post .post2 .map,
.main__info_post .main_post .post3 .map,
.main__info_post .main_post .post4 .map,
.main__info_post .main_post .post5 .map,
.main__info_post .main_post .post6 .map {
    font-size: 14px;
    color: var(--back500);
    font-weight: 300;
    margin-bottom: 10px;
}

.main__info_post .main_post .post1 .tit,
.main__info_post .main_post .post2 .tit,
.main__info_post .main_post .post3 .tit,
.main__info_post .main_post .post4 .tit,
.main__info_post .main_post .post5 .tit,
.main__info_post .main_post .post6 .tit {
    font-size: 24px;
    color: var(--mainColor);
    margin-bottom: 10px;
}

.main__info_post .main_post .post1 .price,
.main__info_post .main_post .post2 .price,
.main__info_post .main_post .post3 .price,
.main__info_post .main_post .post4 .price,
.main__info_post .main_post .post5 .price,
.main__info_post .main_post .post6 .price {
    font-size: 18px;
    color: var(--back500);
    margin-bottom: 10px;
}

.main__info_post .main_post .post1 .day,
.main__info_post .main_post .post2 .day,
.main__info_post .main_post .post3 .day,
.main__info_post .main_post .post4 .day,
.main__info_post .main_post .post5 .day,
.main__info_post .main_post .post6 .day {
    font-size: 14px;
    color: var(--back500);
    margin-bottom: 60px;
    font-weight: 300;
}

.main__info_post .pl a {
    display: inline-block;
    width: 140px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    border-radius: 30px;
    background: var(--mainColor);
    color: var(--white);
}

/* main__ranking */
.main__ranking {
    background: var(--mainColor);
    text-align: center;
    height: 1200px;
}

.main__ranking .rank {
    display: inline-block;
    margin-top: 200px;
    font-size: 80px;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 150px;
}

.main__ranking .rank_post {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main__ranking .rank_post_1 {
    background-color: var(--white);
    width: 300px;
    height: 420px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.main__ranking .rank_post_1 img {
    width: 100%;
    height: 320px;
}

.main__ranking .rank_post_1 h2 {
    color: var(--mainColor);
    font-size: 24px;
}

.main__ranking .rank_post_2 {
    background-color: var(--white);
    width: 300px;
    height: 420px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.main__ranking .rank_post_2 img {
    width: 100%;
    height: 320px;
}

.main__ranking .rank_post_2 h2 {
    color: var(--mainColor);
    font-size: 24px;
}

.main__ranking .rank_post_3 {
    background-color: var(--white);
    width: 300px;
    height: 420px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.main__ranking .rank_post_3 img {
    width: 100%;
    height: 320px;
}

.main__ranking .rank_post_3 h2 {
    color: var(--mainColor);
    font-size: 24px;
}

/* main__sub__title */
.main__sub__title {
    margin-top: 200px;
    margin-bottom: 100px;
}

.main__sub__title span {
    display: inline-block;
    font-size: 60px;
    margin-bottom: 100px;
    font-family: var(--fontG);
}

.main__sub__title .main__sub__post {
    display: flex;
    flex-wrap: wrap;
}

.main__sub__title .main__sub__post .post1,
.main__sub__title .main__sub__post .post2,
.main__sub__title .main__sub__post .post3 {
    width: 406px;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.125rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1;
}

.main__sub__title .main__sub__post .post1 img,
.main__sub__title .main__sub__post .post2 img,
.main__sub__title .main__sub__post .post3 img {
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 26px;
}

.main__sub__title .main__sub__post .post1 .map,
.main__sub__title .main__sub__post .post2 .map,
.main__sub__title .main__sub__post .post3 .map {
    font-size: 14px;
    color: var(--back500);
    font-weight: 300;
    margin-bottom: 10px;
}

.main__sub__title .main__sub__post .post1 .tit,
.main__sub__title .main__sub__post .post2 .tit,
.main__sub__title .main__sub__post .post3 .tit {
    font-size: 24px;
    color: var(--mainColor);
    margin-bottom: 10px;
}

.main__sub__title .main__sub__post .post1 .price,
.main__sub__title .main__sub__post .post2 .price,
.main__sub__title .main__sub__post .post3 .price {
    font-size: 18px;
    color: var(--back500);
    margin-bottom: 10px;
}

.main__sub__title .main__sub__post .post1 .day,
.main__sub__title .main__sub__post .post2 .day,
.main__sub__title .main__sub__post .post3 .day {
    font-size: 14px;
    color: var(--back500);
    margin-bottom: 60px;
    font-weight: 300;
}