/* 


*/

#section {
    width: 100%;
    height: 100vh;
}

#section .title {
    margin-top: 3.125rem;
    text-align: center;

}

#section .title>h1 {
    font-size: 19.5rem;
    line-height: 1;
    font-family: var(--fontO);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--mainColor);
}

@media (max-width:1000px) {

    #section {
        height: 80vh;
    }

    #section .title {
        text-align: center;
    }

    #section .title>h1 {
        font-size: 14rem;
    }
}

@media (max-width:500px) {
    #section {
        height: 40vh;
    }

    #section .title {
        margin-top: 6rem;
        text-align: center;
    }

    #section .title>h1 {
        font-size: 7rem;
    }
}

/* // .title */

.main__banner {
    text-align: center;
    height: 100vh;
}

.main__banner .container {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25rem 25rem 1.875rem 1.875rem;
    position: relative;
}

.main__banner .container>img {
    width: 100%;
    /* 이미지 너비를 컨테이너에 맞춤 */
    height: 100%;
    /* 이미지 높이를 자동으로 조정해 비율을 유지 */
    position: absolute;
    top: -10%;
    left: 0;
}

.main__banner .container a {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.25rem 4rem;
    font-size: 1rem;
    background-color: var(--white);
    color: var(--mainColor);
    border-radius: 1.875rem;
    transition: all 0.3s;
}

.main__banner .container a:hover {
    color: var(--white);
    background-color: var(--mainColor);
}

@media (max-width:1000px) {
    .main__banner {
        height: 80vh;
        /* 높이를 줄입니다 */
    }

    .main__banner .container {
        width: 100%;
        height: 100%;
        border-radius: 20rem 20rem 1.875rem 1.875rem;
    }

    .main__banner .container>img {
        width: 100%;
        height: 90%;
        /* 이미지 비율 유지 */
    }

    .main__banner .container a {
        padding: 1rem 2rem;
        /* 모바일에서의 버튼 패딩 줄임 */
        font-size: 0.875rem;
        /* 모바일에서의 폰트 크기 줄임 */
    }
}

@media (max-width:500px) {
    .main__banner {
        height: 40vh;
        /* 더 작은 화면에서 높이를 더 줄입니다 */
    }

    .main__banner .container {
        width: 100%;
        height: 100%;
        border-radius: 9rem 9rem 1rem 1rem;

    }

    .main__banner .container a {
        padding: 0.5rem 1.5rem;
        /* 더 작은 버튼 패딩 */
        font-size: 0.75rem;
        /* 더 작은 폰트 사이즈 */
    }
}

/* // .banner */

#main .main__our {
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
}