#section {
    width: 100%;
    height: 100vh;
}

#section .title {
    margin-top: 8.125rem;
    text-align: center;

}

#section .title>h1 {
    font-size: 19.5rem;
    line-height: 1;
    font-family: var(--fontO);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--mainColor);
}

@media (max-width:1000px) {

    #section {
        height: 80vh;
    }

    #section .title {
        text-align: center;
    }

    #section .title>h1 {
        font-size: 14rem;
    }
}

@media (max-width:800px) {
    #section .title>h1 {
        font-size: 12rem;
    }

    #section .title {
        margin-top: 8rem;
        text-align: center;
    }
}

@media (max-width:500px) {
    #section {
        height: 40vh;
    }

    #section .title {
        margin-top: 11rem;
        text-align: center;
    }

    #section .title>h1 {
        font-size: 7rem;
    }
}

/* // .title */

.main__banner {
    text-align: center;
    height: 100vh;
}

.main__banner .container {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25rem 25rem 1.875rem 1.875rem;
    position: relative;
}

.main__banner .container>img {
    width: 100%;
    /* 이미지 너비를 컨테이너에 맞춤 */
    height: 100%;
    /* 이미지 높이를 자동으로 조정해 비율을 유지 */
    position: absolute;
    top: -10%;
    left: 0;
}

.main__banner .container a {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.25rem 4rem;
    font-size: 1rem;
    background-color: var(--white);
    color: var(--mainColor);
    border-radius: 1.875rem;
    transition: all 0.3s;
}

.main__banner .container a:hover {
    color: var(--white);
    background-color: var(--mainColor);
}

@media (max-width:1000px) {
    .main__banner {
        height: 80vh;
        /* 높이를 줄입니다 */
    }

    .main__banner .container {
        width: 100%;
        height: 100%;
        border-radius: 20rem 20rem 1.875rem 1.875rem;
    }

    .main__banner .container>img {
        width: 100%;
        height: 90%;
        /* 이미지 비율 유지 */
    }

    .main__banner .container a {
        padding: 1rem 2rem;
        /* 모바일에서의 버튼 패딩 줄임 */
        font-size: 0.875rem;
        /* 모바일에서의 폰트 크기 줄임 */
    }
}

@media (max-width:800px) {
    .main__banner {
        height: 90vh;
        /* 높이를 줄입니다 */
    }

    .main__banner .container {
        width: 100%;
        height: 100%;
        border-radius: 20rem 20rem 1.875rem 1.875rem;
    }

    .main__banner .container>img {
        width: 100%;
        height: 100%;
        /* 이미지 비율 유지 */
    }

    .main__banner .container a {
        padding: 1rem 2rem;
        /* 모바일에서의 버튼 패딩 줄임 */
        font-size: 0.875rem;
        /* 모바일에서의 폰트 크기 줄임 */
    }
}

@media (max-width:500px) {
    .main__banner {
        height: 40vh;
        /* 더 작은 화면에서 높이를 더 줄입니다 */
    }

    .main__banner .container {
        width: 100%;
        height: 100%;
        border-radius: 9rem 9rem 1rem 1rem;

    }

    .main__banner .container a {
        padding: 0.5rem 1.5rem;
        /* 더 작은 버튼 패딩 */
        font-size: 0.75rem;
        /* 더 작은 폰트 사이즈 */
    }
}

/* // .banner */

#main .main__our {
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    margin-top: 12.5rem;
}

.main__our .container {
    display: flex;
}

.main__our .container .content1 {
    width: 50%;
    height: 100%;
    padding-top: 9.375rem;
}

.main__our .container .content1 h2 {
    width: 80%;
    font-family: var(--fontM);
    font-weight: 900;
    font-size: 3.75rem;
    padding: 1rem 1.87rem;
    background-color: var(--white);
    color: var(--mainColor);
    text-align: center;
    border-radius: 1.25rem;
}

.main__our .container .content1 p {
    padding-top: 3.125rem;
    line-height: 1.8;
    color: var(--white);
    font-family: var(--fontN);
    font-weight: 500;
    font-size: 1.25rem;

}

.main__our .container .content2 {
    width: 50%;
    height: 100%;
    padding-top: 11.175rem;
}

.main__our .container .content2 .box {
    width: 50%;
    height: 50%;
    background-color: var(--white);
    text-align: center;
    border-radius: 1.25rem;
}

.main__our .container .content2 .box img {
    width: 70%;
    height: 40%;
    padding: 2rem;
}

.main__our .container .content2 p {
    color: var(--white);
    font-family: var(--fontN);
    padding-top: 2.5rem;
    padding-bottom: 10rem;
    font-size: 1.25rem;
}

@media (max-width:1000px) {

    .main__our .container {
        display: flex;
        flex-direction: column;
    }

    .main__our .container .content1 {
        width: 100%;
        text-align: center;
    }

    .main__our .container .content1 h2 {
        font-size: 3rem;
        width: 100%;
    }

    .main__our .container .content1 p {
        padding: 1rem;

    }

    .main__our .container .content2 {
        padding-top: 5rem;
        width: 100%;
        display: flex;
        margin-bottom: 7rem;
        justify-content: center;
        align-items: center;
    }

    .main__our .container .content2 .box {
        width: 40%;
        height: 40%;
    }

    .main__our .container .content2 p {
        width: 50%;
        padding: 1.25rem;
        font-size: 1rem;
    }
}


@media (max-width:500px) {
    #main .main__our {
        margin-top: 5rem;
    }

    .main__our .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__our .container .content1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .main__our .container .content1 h2 {
        font-size: 2rem;
        width: 80%;
    }

    .main__our .container .content1 p {
        padding: 0.875rem;
        text-align: center;
        font-size: 1rem;

    }

    .main__our .container .content2 {
        padding-top: 5rem;
        width: 100%;
        display: flex;
        margin-bottom: 7rem;
        flex-direction: column;
    }

    .main__our .container .content2 .box {
        width: 80%;
        height: 100%;
    }

    .main__our .container .content2 .box img {
        width: 50%;
        height: 50%;
        padding: 2rem;
    }

    .main__our .container .content2 p {
        width: 80%;
        padding: 1rem;
        font-size: 0.875rem;
        line-height: 1.5;
        padding-bottom: 1rem;
    }
}

/* //main__our */

.main__info .container .main__info__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    color: var(--mainColor);
}

.main__info__title h3 {
    text-transform: uppercase;
    font-family: var(--fontO);
    letter-spacing: -1px;
    font-size: 2.875rem;
    padding: 0.625rem;
    font-weight: 900;
}


.main__info__title p {
    font-size: 1.25rem;
    font-family: var(--fontN);
    font-weight: 500;
}

@media (max-width:1000px) {
    .main__info__title h3 {
        font-size: 2.6rem;
    }

    .main__info__title p {
        font-size: 1rem;
    }

}

@media (max-width:500px) {
    .main__info__title h3 {
        font-size: 2rem;
    }

    .main__info__title p {
        font-size: 1rem;
    }

}

.main__info__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__info__post>a {
    display: inline-block;
    margin-top: 5rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    font-family: var(--fontG);
    font-weight: 600;
    padding: 0.625rem 3.125rem;
    border-radius: 2rem;
    transition: all 0.3s;
}

.main__info__post>a:hover {
    color: var(--white);
    background-color: var(--mainColor);
}

.main__info__post .container {
    width: 100%;
    height: 100%;
}

.main__info__post .content1 {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__info__post .content2 {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post1,
#post2,
#post3 {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    margin-right: 1rem;
    border-radius: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
}

#post1 .post img,
#post2 .post img,
#post3 .post img {
    width: 100%;
    max-height: 345px;
    min-height: 345px;
    object-fit: cover;
    border-radius: 22px;
}

.post .tit {
    padding: 0.625rem 0 0 0;
    font-size: 1.25rem;
    color: var(--mainColor);
    font-family: var(--fontN);
    font-weight: 700;
}

.post .pic {
    padding-top: 0.3125rem;
    font-size: 1rem;
    font-family: var(--fontN);
    font-weight: 700;
}

.post .day {
    padding-top: 0.3125rem;
    font-size: 0.875rem;
    color: var(--black500);
    font-family: var(--fontN);
    font-weight: 400;
}

.post__con {
    width: 100%;
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 30px 30px;
}

.post__con .post__left {
    width: 50%;
    background-color: var(--pointColor);
    border-radius: 0 0 0 30px;
}


.post__con .post__left a {
    display: inline-block;
    padding: 20px;
    color: var(--mainColor);
}

.post__con .post__left img {
    width: 10px;
    height: 10px;
    padding-top: 6px;
    padding-left: 2px;
}

.post__con .post__right {
    width: 50%;
    background-color: var(--mainColor);
    border-radius: 0 0 30px 0;
}




.post__con .post__right img {
    width: 10px;
    height: 10px;
    padding-top: 6px;
    padding-left: 2px;
}

.post__con .post__right a {
    display: inline-block;
    padding: 20px;
    color: var(--white);
}


@media (max-width:1000px) {
    .main__info__post .content1 {
        display: flex;
    }

    .main__info__post .content2 {
        margin-top: 1rem;
        display: flex;
    }

    .post {
        padding: 1.25rem 1.25rem 0 1.25rem;
    }

    .post__con {
        width: 100%;
        padding-top: 1.25rem;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 0 0 30px 30px;
    }

    .post__con .post__left {
        width: 50%;
        background-color: var(--pointColor);
        border-radius: 0 0 0 30px;
    }

    .post__con .post__left a {
        display: inline-block;
        padding: 20px;
        color: var(--mainColor);
    }

    .post__con .post__left>img {
        width: 10px;
        height: 10px;
        padding-top: 6px;
        padding-left: 2px;
    }

    .post__con .post__right {
        width: 50%;
        background-color: var(--mainColor);
        border-radius: 0 0 30px 0;
    }

    .post__con .post__right img {
        width: 10px;
        height: 10px;
        padding-top: 6px;
        padding-left: 2px;
    }

    .post__con .post__right a {
        display: inline-block;
        padding: 20px;
        color: var(--white);
    }
}

@media (max-width:500px) {
    .main__info__post .content1 {
        display: flex;
        flex-direction: column;
    }

    .main__info__post .content2 {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .post {
        margin-top: 2rem;
        margin-left: 0;
    }

    .post__con {
        width: 100%;
        padding-top: 1.25rem;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 0 0 30px 30px;
    }

    .post__con .post__left {
        width: 50%;
        background-color: var(--pointColor);
        border-radius: 0 0 0 30px;
    }

    .post__con .post__left a {
        display: inline-block;
        padding: 20px;
        color: var(--mainColor);
    }

    .post__con .post__left img {
        width: 10px;
        height: 10px;
        padding-top: 6px;
        padding-left: 2px;
    }

    .post__con .post__right {
        width: 50%;
        background-color: var(--mainColor);
        border-radius: 0 0 30px 0;
    }

    .post__con .post__right img {
        width: 10px;
        height: 10px;
        padding-top: 6px;
        padding-left: 2px;
    }

    .post__con .post__right a {
        display: inline-block;
        padding: 20px;
        color: var(--white);
    }
}

/* //main__info */

.main__sub {
    margin-top: 10rem;
    text-align: center;
    background-color: var(--mainColor);
    margin-bottom: 10rem;
}

.main__sub a {
    display: inline-block;
    padding: 5rem;
    font-size: 1.5rem;
    color: var(--white);
}

/* //main__sub */

.main__rank .container .main__rank__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    color: var(--mainColor);
}

.main__rank__title h4 {
    text-transform: uppercase;
    font-family: var(--fontO);
    letter-spacing: -1px;
    font-size: 2.875rem;
    padding: 0.625rem;
    font-weight: 900;
}


.main__rank__title p {
    font-size: 1.25rem;
    font-family: var(--fontN);
    font-weight: 500;
}

@media (max-width:1000px) {
    .main__rank__title h4 {
        font-size: 2.6rem;
    }

    .main__rank__title p {
        font-size: 1rem;
    }

}

@media (max-width:500px) {
    .main__rank__title h4 {
        font-size: 2rem;
    }

    .main__rank__title p {
        font-size: 1rem;
    }

}

.main__rank__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.main__rank__post>a {
    display: inline-block;
    margin-top: 5rem;
    background-color: var(--pointColor);
    color: var(--mainColor);
    font-family: var(--fontG);
    font-weight: 600;
    padding: 0.625rem 3.125rem;
    border-radius: 2rem;
    transition: all 0.3s;
}

.main__rank__post>a:hover {
    color: var(--white);
    background-color: var(--mainColor);
}

.main__rank__post .container {
    width: 100%;
    height: 100%;
}

.main__rank__post .content {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank__post {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--white);
    margin-left: 1.25rem;
    border-radius: 30px;
    position: relative;
    ;
}

.rank__post:nth-child(1):after {
    content: '1';
    background-image: url(../ico/rank-ico.svg);
    width: 63.73px;
    height: 103.89px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--white);
    left: 8%;
    top: 0;
}

.rank__post:nth-child(2):after {
    content: '2';
    background-image: url(../ico/rank-ico.svg);
    width: 63.73px;
    height: 103.89px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--white);
    left: 8%;
    top: 0;
}

.rank__post:nth-child(3):after {
    content: '3';
    background-image: url(../ico/rank-ico.svg);
    width: 63.73px;
    height: 103.89px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--white);
    left: 8%;
    top: 0;
}

#rank__post1 img,
#rank__post2 img,
#rank__post3 img {
    width: 283px;
    height: 348px;
    padding: 2rem 2rem 0 2rem;
    border-radius: 18px;
}

.rank__post .tit {
    font-size: 1.25rem;
    color: var(--mainColor);
    padding-top: 0.625rem;
    font-weight: 700;
    font-family: var(--fontG);
    padding-left: 2rem;
}

.rank__post .pic {
    font-size: 1rem;
    font-family: var(--fontG);
    font-weight: 500;
    padding-left: 2rem;
}

.rank__post .day {
    font-size: 0.875rem;
    color: var(--black600);
    padding-left: 2rem;
}

.rank__post a {
    display: inline-block;
    margin-top: 1.25rem;
    padding: 1.25rem;
    text-align: center;
    background-color: var(--pointColor);
    color: var(--mainColor);
    font-size: 0.875rem;
    border-radius: 0 0 2rem 2rem;
    transition: all 0.3s;
}

.rank__post a:hover {
    color: var(--white);
    background-color: var(--mainColor);
}

@media (max-width:1000px) {
    .main__rank__post .content1 {
        display: flex;
        flex-direction: column;
    }

    .rank__post {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    #rank__post1 img,
    #rank__post2 img,
    #rank__post3 img {
        width: 260px;
        height: 320px;
        padding: 1rem 1rem 0 1rem;
    }
}

@media (max-width:500px) {
    .main__rank__post .content {
        display: flex;
        flex-direction: column;
    }

    .rank__post {
        margin-top: 2rem;
        margin-left: 0;
    }
}

/* //main__crew */

.main__crew {
    background-color: var(--pointColor);
}

.main__crew .container .main__crew__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    color: var(--mainColor);
}

.main__crew__title h5 {
    text-transform: uppercase;
    font-family: var(--fontO);
    letter-spacing: -1px;
    font-size: 2.875rem;
    padding: 0.625rem;
    font-weight: 900;
}


.main__crew__title p {
    font-size: 1.25rem;
    font-family: var(--fontN);
    font-weight: 500;
}

@media (max-width:1000px) {
    .main__crew__title h5 {
        font-size: 2.6rem;
    }

    .main__crew__title p {
        font-size: 1rem;
    }

}

@media (max-width:500px) {
    .main__crew__title h5 {
        font-size: 2rem;
    }

    .main__crew__title p {
        font-size: 1rem;
    }

}

.main__crew__rank {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crew__rank1 {
    width: 20%;
    background-color: var(--mainColor);
    margin-right: 1.25rem;
}

#crew__rank2 {
    width: 20%;
    background-color: var(--mainColor);
    margin-right: 1.25rem;
}

#crew__rank3 {
    width: 20%;
    background-color: var(--mainColor);
    margin-right: 1.25rem;
}

#crew__rank4 {
    width: 20%;
    background-color: var(--mainColor);
}

.crew_rank {
    width: 100%;
    height: 100%;
}

.cover {
    width: 100%;
    height: 200px;
    margin-top: 160px;
    background-color: var(--mainColor);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}